.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #16262E;
}

.sidebar__top{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #16262E;
    color: white;
    border-bottom: 3px solid #131e24;
}

.sidebar__top > h3{
    text-align: center;
}

.sidebar__channels, .sidebar__resources {
    flex: 1;
    overflow-y: auto;
}

.sidebar__addChannel {
    cursor: pointer;
}

.sidebar__addChannel:hover{
    color: white;
}

.sidebar__channelsHeader,  .sidebar__resourcesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #16262E;
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__voice, .sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #16262E;
    padding: 10px;
    border-top: 1px solid grey;
}

.sidebar__voiceInfo{
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon {
    color: #4fb185
}

.sidebar__voiceInfo > h3 {
    color: #4fb185;
}

.sidebar__voiceInfo > p {
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}


.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileIcons {
    color: gray;
    margin: auto;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__resourcesList1 > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #16262E;
    color: gray;
    cursor: pointer;
}

.sidebarResources__hash {
    font-size: 30px;
    padding: 8px;
}

.sidebar__resourcesList1:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sidebar__resourcesList2:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sidebar__resourcesList2 > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #16262E;
    color: gray;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }